lead generation and email outreach copy.json
{
  "name": "lead generation and email outreach copy",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=[\n  \"https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync-get-dataset-items?token=apify_api_9RpQfILL2ec2oSLvqyXJ0vZ3nXu7NJ3FbPub\",\n  \"https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync?token=apify_api_OiRAzeFQ2dx7zeRlagyu7ZJ3C1xGf02LxeNh\"\n]",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cleanOutput\": false,\n  \"totalRecords\": 100,\n  \"url\": \"{{ $json.url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        192
      ],
      "id": "df631133-b630-471d-8568-88abcdf27dc8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20335efb-c8c3-430b-99ec-3d21f97d9fa5",
              "leftValue": "={{ $json.email }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        752,
        192
      ],
      "id": "93eae50d-f12a-43bf-bae2-0f6d541b60c8",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ],
      "id": "6cc97463-8fbf-4cd5-b44b-1faf70ec9d4b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"firstName\": \"{{ $json.first_name }}\",\n  \"lastName\": \"{{ $json.last_name }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"linkedIn\": \"{{ $json.linkedin_url }}\",\n  \"organization\": \"{{ $json.organization.name }}\",\n  \"organizationLinkedIn\": \"{{ $json.organization.linkedin_url }}\",\n  \"organizationSite\": \"{{ $json.organization.website_url }}\",\n  \"industry\": \"{{ $json.organization.industry }}\",\n  \"companySize\": \"{{ $json.organization.estimated_num_employees }}\",\n  \"keywords\": \"{{ $json.organization.keywords.join(', ') }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        192
      ],
      "id": "069d5750-9202-49b4-9695-55452df63de0",
      "name": "Map Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u0HzBpnrALm0bi1ZHbwE67OEwqrCcFTakzYxMsO2S0I",
          "mode": "list",
          "cachedResultName": "lead generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u0HzBpnrALm0bi1ZHbwE67OEwqrCcFTakzYxMsO2S0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u0HzBpnrALm0bi1ZHbwE67OEwqrCcFTakzYxMsO2S0I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First name": "={{ $json.firstName }}",
            "Title ": "={{ $json.title }}",
            "Last name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Linkedin": "={{ $json.linkedIn }}",
            "Organization": "={{ $json.organization }}",
            "Organization Linkedin": "={{ $json.organizationLinkedIn }}",
            "Industry": "={{ $json.industry }}",
            "Organization site": "={{ $json.organizationSite }}",
            "Keywords": "={{ $json.keywords }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company size",
              "displayName": "company size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization Linkedin",
              "displayName": "Organization Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization site",
              "displayName": "Organization site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email prepaired",
              "displayName": "Email prepaired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1152,
        192
      ],
      "id": "1c14a339-5f8a-4119-934c-1b6eeaf3f5c7",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hovr1ejWqa71JoFO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca9e3a4f-ddff-455e-adc8-d3ef37e526f6",
              "name": "searchUrl",
              "value": "[\n  \"https://app.apollo.io/#/people?page=1&contactEmailStatusV2[]=verified&personNotTitles[]=manager&personNotTitles[]=owner&personNotTitles[]=director&organizationNumEmployeesRanges[]=1%2C10&organizationIndustryTagIds[]=5567cd477369645401010000&sortAscending=false&sortByField=recommendations_score\",\n  \"https://app.apollo.io/#/people?page=1&contactEmailStatusV2[]=verified&personTitles[]=manager&personTitles[]=owner&personTitles[]=director&personTitles[]=founder%20partner&organizationNumEmployeesRanges[]=1%2C10&organizationIndustryTagIds[]=5567ced173696450cb580000&sortAscending=false&sortByField=recommendations_score\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        192
      ],
      "id": "b26e9240-4fcb-483d-9f22-4cccbef22d33",
      "name": "Lead Configuration"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        544
      ],
      "id": "5cd83ee6-d28a-488f-bc7d-89d4c9352495",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Ice Breaker Here\n\nPlease allow me to introduce myself, I'm a former Senior Software Engineer turned Automation Expert, and in just under three months, I've built a YouTube channel with over 5,000 subscribers and a community of 3,000+ members focused on AI-powered automation. I recently launched my own AI agency to provide custom automation solutions as a service.\n\nI'm reaching out because I believe there’s an opportunity to streamline {{$json.Organization}}’s operations by automating time-consuming, repetitive tasks—something that AI-driven automation excels at today.\n\nIn fact, businesses implementing AI-based automation save up to **30 % of employee time** on manual work and see a **25–40 % boost in efficiency** within six months.\n\nHere are a few processes we could explore automating together:\n• Repetitive admin tasks (customer follow-ups, data entry, invoicing)  \n• Lead-generation & outreach workflows  \n• Order management + fulfilment alerts  \n• AI-powered email autoresponders using your own knowledge base (human-in-the-loop optional)\n\nWould you be open to a quick call to explore which workflows we can automate in your business together?",
        "messages": {
          "messageValues": [
            {
              "message": "=### ROLE\nYou are a cold-email copywriter.  \nGoal: produce a SHORT email that (1) feels personal, (2) keeps the core pitch unchanged unless a clear, high-value tweak is obvious.\n\n### VARIABLES  (all arrive via n8n `$json`)\ntitle                = {{$json.Title}}\norganizationName     = {{$json.Organization}}\norganizationSite     = {{$json.OrganizationSite}}\nindustry             = {{$json.Industry}}\nkeywords             = {{$json.Keywords}}      ← comma-separated list\nlinkedIn             = {{$json.LinkedIn}}\norganizationLinkedIn = {{$json.OrganizationLinkedIn}}\n\n### HOW TO PERSONALIZE\n1. **Ice-breaker** (exactly 1 short sentence, max 15 words)  \n   • Must sound **energetic, uplifting, warm, and friendly** (feel-good vibe; exclamation optional).  \n   • Use ONE specific detail: keyword, product line, LinkedIn snippet, or location.  \n   • No filler like “Hope you’re well.”  \n2. **Pitch section MUST remain verbatim** except:  \n   • You may insert ≤ 7 words that tie the pitch to a clear opportunity (e.g., “—especially for niche fragrance brands—”).  \n4. **Tone**: professional, confident, friendly.\n\n### RULES\n- NEVER include Subject lines.  \n- NEVER include greetings.  \n- NEVER include sign-offs (“Best,” etc.).  \n- Start directly from the ice-breaker sentence, then flow into the introduction.  \n- Keep total length ≤ 130 words.  \n- Output plain text only (no markdown).\n- Avoid using em-dashes (—); use commas or periods instead to keep the text human-like.  "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        256,
        544
      ],
      "id": "9665e8bc-ddee-4164-8c74-b1fd7d3d8f85",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        736
      ],
      "id": "ed33a9bb-02e6-4a02-8d4d-bf49cb0731cc",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU",
          "mode": "list",
          "cachedResultName": "Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 601601443,
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU/edit#gid=601601443"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Pending Leads').item.json.row_number }}",
            "Email Prepared": "=Hey {{ $('Get Pending Leads').item.json.FirstName }}!\n\n{{ $json.text }}\n\nBest,\nMahmut"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CompanySize",
              "displayName": "CompanySize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OrganizationLinkedIn",
              "displayName": "OrganizationLinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OrganizationSite",
              "displayName": "OrganizationSite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Prepared",
              "displayName": "Email Prepared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        592,
        544
      ],
      "id": "3b3d9e25-bf7e-40b6-b0d5-bc94a0eb1679",
      "name": "Update Google Sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU",
          "mode": "list",
          "cachedResultName": "Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 601601443,
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15oSfftU0AoEeFHZArJJ-6qGrYn5u41irA6zvp8sYkmU/edit#gid=601601443"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email Prepared"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        544
      ],
      "id": "881e8e96-035c-4975-976e-604bb0582c23",
      "name": "Get Pending Leads"
    },
    {
      "parameters": {
        "content": "# Lead Sourcing",
        "height": 80,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        64
      ],
      "id": "6a7903fa-17bc-4baa-a7e5-dbeec04d9dd8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Personalized Email Outreach",
        "height": 80,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        432
      ],
      "id": "c73ddfbf-cbc2-4508-8314-dfc802fdc34f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "searchUrl",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        192
      ],
      "id": "2b6b73ce-fd0b-456d-bcb3-a8a750e2a11d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "email",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        960,
        192
      ],
      "id": "ea0fa2fb-eaa3-47f8-bae9-ab8a1f1cbc6a",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Map Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lead Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Response": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Configuration": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61faa6b4-ae19-4a02-a2a3-c2b994b26a84",
  "meta": {
    "instanceId": "06767e9beae9aa7d1273178f7b4f1dde5c2cc9b2037df97d5fafec80bc18ec22"
  },
  "id": "T97RrkY8sx1fWVWm",
  "tags": []
}